:host {
  display: block;
  //padding-left: 10px;
  //height: 100%;
}

:host .user-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

  app-user {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
