<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="taskId">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.taskId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="progress">
    <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.progress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="goal">
    <mat-header-cell *matHeaderCellDef> Goal </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.goal}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="percent">
    <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.percent | percent:'1.0-2'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <form
        *ngIf="!taskIsComplete(element)"
        class="send-progress-form"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="Add progress"
            [(ngModel)]="element.sendProgress"
            name="send_progress"
          >
        </mat-form-field>
        <button mat-raised-button (click)="sendProgress(element)" color="primary">Send</button>
      </form>
      <mat-icon class="done-icon" *ngIf="taskIsComplete(element)">done</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
