<div *ngFor="let level of getLevels()" class="tree-level">
  <ng-container *ngFor="let node of getNodesByLevel(level)">
    <app-tree-node
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="node"
      (nodeClick)="toggleVisibility(node)"
      [node]="node"
      [color]="getLevelColor(level)"
      [attr.data-task-id]="node.task_id"
      [style.display]="isVisible(node) ? 'flex' : 'none'"
    ></app-tree-node>
    <svg #svg *ngFor="let child of getNodeChildren(node)">
      <line
        [attr.data-task-id]="node.task_id"
        [attr.data-child-id]="child.task_id"
      />
    </svg>
  </ng-container>
</div>
