@import "src/styles";

:host {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

app-users-column-row, app-group-column-row {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:nth-child(even) {
    background-color: mat-color($primary, 100);
  }

  &:nth-child(odd) {
    background-color: mat-color($primary, 50);
  }
}

.separator {
  line-height: 32px;
  width: 256px;
  text-align: center;
  background-color: mat-color($mat-light-theme-background, status-bar);
}

::ng-deep {
  .tree-level {
    app-users-column-row.cdk-drag-placeholder, app-group-column-row.cdk-drag-placeholder {
      display: none;
    }
  }
}
