<mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="group.name" name="name" required>
</mat-form-field>
<mat-form-field class="chip-list">
  <mat-chip-list #chipList aria-label="User selection">
    <mat-chip
      *ngFor="let user of group.users"
      (removed)="removeUser(user)"
    >
      {{ user.last_name + ' ' + user.first_name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Users"
      #userInput
      [formControl]="userCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    >
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
      {{ user.last_name + ' ' + user.first_name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div class="actions">
  <button mat-raised-button (click)="save()" color="primary">Save</button>
  <button *ngIf="!isNew" mat-raised-button (click)="delete()" color="secondary">Delete</button>
</div>
