<h1>Group list</h1>
<mat-accordion>
  <mat-expansion-panel *ngFor="let group of (groups | async)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ group.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ getUserNames(group) }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-group
      [group]="group"
      [users]="users"
    ></app-group>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Add new</mat-panel-title>
    </mat-expansion-panel-header>

    <app-group
      [group]="emptyGroup"
      [users]="users"
    ></app-group>
  </mat-expansion-panel>
</mat-accordion>
