:host {
  display: block;
  width: 600px;
}

app-group {
  ::ng-deep .actions {
    display: flex;
    justify-content: flex-end;
  }
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-grow: unset;
}
