@import "src/styles";

.tree-node-card {
  width: 200px;
  background-color: lightgray;
  padding: 0;

  .mat-card-content {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  span {
    display: block;
  }

  .progress-bar-container, .mat-progress-bar {
    height: 24px;
  }

  .progress-bar-text {
    position: relative;
    font-size: 16px;
    top: -20px;
    text-align: center;
    mix-blend-mode: difference;
    color: greenyellow;
  }

  .task-description {
    margin: 8px 8px 8px;

    span:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
