<mat-card mat-ripple class="tree-node-card" [style.background-color]="color" (click)="clickNode()">
  <mat-card-content>
    <div class="task-description">
      <span>{{ node.assignee_name }}</span>
      <span>{{ node.name }}</span>
      <span>{{ node.current_progress }} / {{ node.goal }}</span>
    </div>
    <div class="progress-bar-container">
      <mat-progress-bar
        [color]="'primary'"
        [mode]="'determinate'"
        [value]="node.percent * 100"
      ></mat-progress-bar>
      <span class="progress-bar-text">{{ node.percent | percent:'1.0-2' }}</span>
    </div>
  </mat-card-content>
</mat-card>
