<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>{{ user.last_name + ' ' + user.first_name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!isEditMode">
    <p>ID: {{ user.user_id }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>

    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-content *ngIf="isEditMode">
    <app-user-form
      [user]="user"
      (afterRequest)="triggerEvent()"
    ></app-user-form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="edit()" color="primary">Edit</button>
    <button mat-raised-button (click)="delete()" color="secondary">Delete</button>
  </mat-card-actions>
</mat-card>
