<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="logo">
          <app-logo [width]="50" [height]="50" [fill]="'white'"></app-logo>
          <span class="logo-title">Roowix OKR</span>
        </div>
        <a mat-button routerLink="/users" class="route" routerLinkActive="active">
          <mat-icon>accessibility_new</mat-icon>
          <span>Users</span>
        </a>
        <a mat-button routerLink="/groups" class="route" routerLinkActive="active">
          <mat-icon>group</mat-icon>
          <span>Groups</span>
        </a>
        <a mat-button routerLink="/tasks" class="route" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span>Tasks</span>
        </a>

        <a mat-button routerLink="/progress" class="route" routerLinkActive="active">
          <mat-icon>done</mat-icon>
          <span>My tasks</span>
        </a>
        <a mat-button routerLink="/tree" class="route" routerLinkActive="active">
          <mat-icon>account_tree</mat-icon>
          <span>Tasks tree</span>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
