@import "src/styles";

.logo {
  line-height: 100%;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-evenly;
  margin-right: 32px;
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.route {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 16px;

  &.active {
    box-shadow: 0 11px 0 0 mat-color($mat-light-theme-background, card);
    background-color: mat-color($mat-light-theme-background, card);
    color: mat-color($primary);
  }
}

.mat-sidenav-content {
  background-color: mat-color($mat-light-theme-background, status-bar);

  .content {
    margin: 8px;
  }
}
