/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, rgba(63,81,181,0.2) 0%, rgba(255,255,255,0.8) 50%, rgba(63,81,181,0.2) 100%);
}
